@charset "UTF-8";
body{
	margin:0 auto;
	text-align:center;
	overflow-x:hidden;
	font-family:Roboto, Spoqa Han Sans Neo Medium;
	float:none;
}

#mypagebox{
	display:inline-block;
	border:1px solid #bba3c9;
	width:1080px;
	margin:82px 0px 30px -500px;
	position:absolute;
}

#tapmenu{
	display:inline-block;
	width: 1080px;
	margin-top:15px;
	margin-left:-540px;
	position:absolute;
}
#tapmenu ul{
	list-style: none;
	line-height: 50px;
}
#tapmenu a{
	text-decoration: none;
	color:#000;
}
#tapmenu a:visited{
	color:#000;
}

#tapmenu a.thar{
	margin-right:20px;
	width:130px;
	border-radius: 20px 20px 0 0;
	border: 1px solid #bba3c9;
	background-color:none;
	float:left;
	cursor: pointer;
	color: #000;
	display: block;
	position: relative;
	text-transform: uppercase;
}

#tapmenu a.thar::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#tapmenu a.thar::before,
#tapmenu a.thar::after{
  background-color: #bba3c9;
  border-radius: 20px 20px 0 0;
  content: '';
  position: absolute;
  z-index: -1;
}

#tapmenu a.thar:hover {
  color: #fff;
}

#tapmenu a.thar::after {
  height: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

#tapmenu a.thar:hover:after {
  height: 100%;
}

.clicked{
	background-color: #bba3c9;
	color:#fff;
}