<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.PlaceableMapper">
	<select id="selectList" resultType="vo.PlaceableVO">
		SELECT place_id,bizm_id,TO_CHAR(able_date, 'yyyy-MM-dd') AS able_date,able_starttime,able_endtime,available
		FROM place_able
		WHERE bizm_id=#{bizm_id}
		ORDER BY able_date ASC
	</select>
	<select id="selectList_M" resultType="vo.PlaceableVO">
		SELECT place_id,bizm_id,TO_CHAR(able_date, 'yyyy-MM-dd') AS able_date,able_starttime,able_endtime,available
		FROM place_able
		WHERE bizm_id=#{bizm_id} AND available=0
		ORDER BY able_date ASC
	</select>
	<select id="selectOne" resultType="vo.PlaceableVO">
		SELECT place_id,bizm_id,TO_CHAR(able_date, 'yyyy-MM-dd') AS able_date,able_starttime,able_endtime,available
		FROM place_able
		WHERE bizm_id=#{bizm_id} AND TO_CHAR(able_date, 'yyyy-MM-dd')=#{able_date}
	</select>
	<insert id="insert">
		INSERT INTO place_able VALUES(
		#{place_id},#{bizm_id},#{able_date},#{able_starttime},#{able_endtime},0)
	</insert>
	<update id="update_1">
		UPDATE place_able SET
		available=1
		WHERE place_id=#{place_id} AND TO_CHAR(able_date, 'yyyy-MM-dd')=#{able_date}
	</update>
	<update id="update_0">
		UPDATE place_able SET
		available=0
		WHERE place_id=#{place_id} AND TO_CHAR(able_date, 'yyyy-MM-dd')=#{able_date}
	</update>
	<delete id="delete">
		DELETE FROM place_able WHERE TO_CHAR(able_date, 'yyyy-MM-dd')=#{able_date}
	</delete>
</mapper>